<!DOCTYPE html>
<html>
<head>
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo_list.name }} </h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_update' todo_list.id %}"> Edit </a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todo_list.id %}"> Delete </a>
                </p>
            </div>
            <h2> Tasks </h2>
            <table>
                <thead>
                    <tr>
                        <th> Task </th>
                        <th> Due date </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_items %}
                        <tr>
                            <td> <a href="{% url 'todo_item_update' item.id %}"> {{ item.task }} </a> </td>
                            <td> {{ item.due_date }} </td>
                    {% endfor %}
                </tbody>
        </div>
    </main>
</body>
</html>
